<!-- Stack the columns on mobile by making one full-width and the other half-width -->
<div class="row">
    <div class="col-xs-12 col-md-3">Jakiś tam tekst po prawej.  --------------------------------------------------------------------------</div>
    <div class="col-xs12 col-md-6">
        <div class="calendar-container">
            <header>
                <div class="day">1</div>
                <div class="month">Styczeń</div>
            </header>
            <table class="calendar">
                <thead>
                    <tr>
                        <td>Pon</td><td>Wto</td><td>Śro</td><td>Czw</td><td>Pią</td><td id="weekend">Sob</td><td id="weekend">Nie</td>
                    </tr>
                </thead>
                <tbody>
                    <% string = %w{28 29|prev-month 30|prev-month 1 2 3|work-day 4|work-day <tr> 5 6 7 8 9 10|work-day 11|work-day <tr> 12 13 14 15 16 17|work-day 18|work-day <tr> 19 20 21 22 23 24|work-day 25|work-day <tr> 26 27 28 29 30 31 1|next-month} %>
                    <% string.split('<tr>').each do |tydzien| %>
                      <tr>
                          <% tydzien.each do |dzien| %>
                            <% tab = dzien.split('|') %>
                            <td class="<%= tab[1] %>">
                                <%= tab[0] %>
                            </td>
                          <%end %>
                      </tr>
                    <% end %>
                </tbody>
            </table>
            <div class="ring-left">Na lewo</div>
            <div class="ring-right">Na prwo</div>
        </div> <!-- end calendar-container -->
    </div>
    <div class="col-xs-6 col-md-3">Jakis tekst po lewej. ------------------------------------------------------------------------------------</div>
</div>