<div class="jumbotron">
<h1>Witaj na mojej stronie przykładowego grafiku pracy.</h1>
<p>Jest to aplikacja napisana we fremworku rails 4.2.5
Celem jest tworzenie grafiku miesięcznego pracy w zakładzie z podziałem 
na zmiany jak i na działy.</p>
<p>Umożliwia zchierarchizowanie stanowisk pracowników oraz póżniejszą 
kontrolę grafiku w zależności od zajmowanego stanowiska.</p>

<p>...</p>
<p>
      <%= link_to "O programie", about_path, class: 'btn btn-primary' %>
      <%= link_to "Zapisz się", '#', class: 'btn btn-primary' %>
</p>
</div>