/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

/* Styles dla list w panelu administracyjnym*/

#admin_list table {
        border-collapse: collapse;
}

#admin_list table tr td {
        padding: 5px;
        vertical-align: top;
}

#admin_list .list_image {
  width:        60px;
  height:       70px;
}

#admin_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}

#admin_list .list_line_even {
  background:   #e0f8f8;
}

#admin_list .list_line_odd {
  background:   #f8b0f8;
}
